
        <div class="container bg-transparent p-3">
        <div class="card text-center">
            <div class="card-header">
                <h4 class="p-0">Resume (CV)</h4>
            </div>
            <div class="card-body">
            <div class="container p-4 ps-3" style="border:1px solid #000; border-radius: 10px;">
              <div class="row d-flex justify-content-center">
                <div class="col-xl-1 col-lg-2 col-sm-2 p-0">
                    <img src="../../assets/CamScanner 07-11-2023 19.45.jpg" style="border: 1px solid #000;" width="100" alt="selfPhoto" class="p-0 m-0 float-xl-end">
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-8 p-4  ps-sm-5">
                    <h4 class="d-flex justify-content-start"> SALMAN AMIN KHAN</h4>
                    <p class="d-flex justify-content-start" style="font-size: small;"> US MEDICAL BILLING</p>
                </div>
                <div class="col-lg-5 col-sm-12 p-0 ps-3">
                    <hr>
                    <ul style="list-style: none; padding: 0;" class="">
                        <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-envelope-at-fill" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"thisissalman.mail@gmail.com"}}</b></span></a></li>
                        <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-geo-alt-fill" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"Mumbai, Maharashtra."}}</b></span></a></li>
                        <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-globe2" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"www.xyz.com"}}</b></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-5 p-0 ps-3">
                    <hr>
                    <ul style="list-style: none; padding: 0;" >
                        <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-phone-fill" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"9658741235"}}</b></span></a></li>
                        <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-linkedin" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"linkedin.com/xyz"}}</b></span></a></li>
                        <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-instagram" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"instagram.com/xyz"}}</b></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-5 p-1 ps-3">
                    <hr>
                    <h4 class="d-flex justify-content-start text-danger"> <b>EDUCATION</b></h4>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>B.Sc. Information Technology (IT)</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Mumbai University</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">April 2021 - October 2023</p> <hr> </li>
                    </ul>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>MS Office Certifications</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Anubhav computer institute</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">July 2017</p> <hr> </li>
                    </ul>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>Higher Secondary Certificate (HSC)</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Maharashtra State Board</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">February 2016</p> <hr> </li>
                    </ul>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>Secondary School Certificate (SSC)</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Maharashtra State Board</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">March 2014</p> </li>
                    </ul>
                </div>
                <div class="col-lg-5 p-1 ps-3">
                    <hr>
                    <h4 class="d-flex justify-content-start text-danger"> <b>EXPERIANCE</b></h4>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>Pacific Global Solutions</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Sr. Accounts Receivable Associate</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">May 2022 - Feb 2024</p> <hr> </li>
                    </ul>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>GeBBS Healthcare Solutions</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Accounts Receivable Associate</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Jan 2018 - Feb 2022</p> <hr> </li>
                    </ul>
                    <ul style="list-style: none; padding: 0;"  >
                        <li class="d-flex p-0">
                            <h6 class="p-0 m-0"><b>Hinduja Global Solutions</b></h6>
                        </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Customer service</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: small;">Jan 2018 - Jan 2021</p> <hr> </li>
                    </ul>
                </div>
                <div class="col-lg-5 p-1 ps-3">
                    <hr>
                    <h4 class="d-flex justify-content-start text-danger"> <b>SKILLS</b></h4>
                    <ul>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">Excellent Computer Knowlaged</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">Good Typing speed (40wpm)</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">Web Development</p> </li>
                    <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">MS Office (Excel, Word, PowerPoint)</p> </li>
                </ul>
              </div>
              <div class="col-lg-5 p-1 ps-3">
                <hr>
                <h4 class="d-flex justify-content-start text-danger"> <b>LANGUAGES</b></h4>
                <ul>
                <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">English - fluent </p> </li>
                <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">Hindi - native</p> </li>
                <li><p class="d-flex justify-content-start p-0 m-0" style="font-size: medium;">Urdu - Intermidate</p> </li>
            </ul>
        </div> 
        <div class="col-md-10 col-sm-12 p-0 ps-3">
            <hr>
            <h4 class="d-flex justify-content-start text-danger"> <b>INTERESTS & HOBBIES</b></h4>
            <ul style="list-style: none; padding: 0;" class="">
                <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-controller" style="font-size: larger; padding-right: 20px;"></i> <span><b>{{"Video"}}</b></span></a></li>
                <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-code-square" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"UI Designing"}}</b></span></a></li>
                <li class="d-flex justify-content-start"><a href="#" style="color: #000; text-decoration: none;"><i class="bi bi-backpack2" style="font-size: large; padding-right: 20px;"></i> <span><b>{{"Traveling"}}</b></span></a></li>
            </ul>
        </div>
                       
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>